.header {
	display: flex;
	gap: 2rem;
	padding: 1rem 1.5rem;
	align-items: center;

	background-color: black;
	color: white;
	font-size: larger;
}

.header a {
	color: unset;
	text-decoration: unset;
}

.header a:hover {
	color: unset;
}

.header a:active {
	filter: brightness(70%);
}

.header h1 {
	color: yellow;
	text-decoration-line: line-through overline;
	text-decoration-color: yellow;
}

.header ul {
	display: flex;
	gap: 1rem;
}

.header li {
	all: unset;
	text-decoration: underline 0.1rem rgba(255, 255, 255, 0);
	text-underline-offset: 0.4rem;
	transition: text-decoration-color 200ms ease-in-out;
}

.header li:hover {
	text-decoration-color: white;
}

.header li.active {
	text-decoration-color: white;
}

.link {
	margin-left: auto;
}
